.samples__images{
  display: flex;
  margin: 120px auto 0 ;
  max-width: 1100px;
  justify-content: space-between;

  @media screen and (max-width: $size-desktop-sm){
    margin: 70px auto 0 ;
    max-width: 708px;
  }

  @media screen and (max-width: $size-mobile-xl){
    max-width: 260px;
  }
}