.lead__subtitle{
  margin: 40px auto 20px 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: rgba(17, 17, 17, 0.6);

  @media screen and (max-width: $size-desktop-sm){
    margin: 30px auto 12px 30px;
    font-size: 15px;
    line-height: 20px;
  }

  @media screen and (max-width: $size-tablet-sm){
    margin: 6px auto 12px 20px;
  }
}