.footer__wrapper{
  position: relative;
  max-width: 470px;
  margin: 60px 0 0 160px ;

  @media screen and (max-width: $size-desktop-sm){
    max-width: 300px;
    margin: 50px;
  }

  @media screen and (max-width: $size-mobile-xl){
    max-width: 260px;
    margin: 20px;
  }
}