$light-title: #FFFFFF;
$light-subtitle: #FFFFFFB2;
$dark-title: #111111;
$main-dark: #222222;
$card-bg: #F8F8F8;
$card-title: #111111;
$card-subtitle: #11111199;
$dark: #000000;
$page-bg: #FFFFFF;
$button-light: #FFFFFF;
$shadow: #00000040;
$input-bg: #FFFFFF;
$input-text: #111111;
$input-placeholder: #1111114D;
$input-outline: #E4E4E4;


$size-desktop-xl: 1440px;
$size-desktop-sm: 1280px;
$size-tablet-xl: 768px;
$size-tablet-sm: 745px;
$size-mobile-xl: 700px;


$font: 'Inter', Arial, sans-serif;