.download__title{
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 69px;
  max-width: 1103px;
  color: #111111;


  @media screen and (max-width: 1280px){
    max-width: 648px;
    font-size: 33px;
    line-height: 37px;
  }

}