.download__form-subtitle{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 20px auto 0;
  text-align: center;

  color: $card-subtitle;

  @media screen and (max-width: $size-desktop-sm){
    margin: 24px auto 0;
    font-size: 15px;
    line-height: 20px;
  }

  @media screen and (max-width: $size-mobile-xl){
    margin: 20px auto 0;
    font-size: 15px;
    line-height: 20px;
    max-width: 260px;
  }
}