.header__phone{
  position: absolute;
  left: 650px + 82px;
  bottom: -30px;
  @media screen and (max-width: $size-desktop-sm){
    left: 360px + 43px;
    max-width: 250px;
    bottom: -20px;
  }
  @media screen and (max-width: $size-tablet-sm){
    margin-bottom: 41px;
    position: static;
    max-width: 260px;
  }
}