.header{
  margin: 0 auto;
  background: $main-dark;
  min-height: 640px;
  border-radius: 20px;
  display: flex;
  max-width: 1420px;

  @media screen and (max-width: $size-desktop-sm){
    max-width: 748px;
    min-height: 602px;
  }

  @media screen and (max-width: $size-tablet-sm){
    padding: 20px;
    min-height: 858px;
    border-radius: 10px;
  }

  @media screen and (max-width: $size-mobile-xl){
    max-width: 260px;
  }
}