@import "__wrapper/header__wrapper";
@import "__title/header__title";
@import "__subtitle/header__subtitle";
@import "__link-btn/header__link-btn";
@import "__logo/header__logo";
@import "__phone/header__phone";

.header{
  background: #222222;
  min-height: 640px;
  width: 100%;
  border-radius: 20px;
  display: flex;
}