.features__card{
  width: 100%;
  min-width: 540px;
  max-width: 540px;
  min-height: 308px;
  background: #F8F8F8;
  border-radius: 20px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1280px){
    max-width: 349px;
    min-width: 349px;
    min-height: 284px;
  }

  @media screen and (max-width: 425px){
    //max-width: 349px;
    //min-width: 349px;
  }
}