.header__subtitle{
  margin: 0 0 107px 3px;
  max-width: 450px;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: $light-subtitle;

  @media screen and (max-width: $size-desktop-sm){
    margin: 0 0 250px 3px;
    max-width: 360px;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
  }

  @media screen and (max-width: $size-tablet-sm){
    margin: 0 0 50px 0;
    font-size: 12px;
    line-height: 15px;
  }
}