.download__form-title{
  margin: 0 auto;
  max-width: 500px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #111111;

  @media screen and (max-width: 1280px){
    font-size: 26px;
    line-height: 31px;
  }
}