.download__form-title{
  margin: 0 auto;
  max-width: 500px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: $card-title;

  @media screen and (max-width: $size-desktop-sm){
    font-size: 26px;
    line-height: 31px;
  }

  @media screen and (max-width: $size-mobile-xl){
    max-width: 260px;
  }
}