.header__wrapper{
  position: relative;
  max-width: 650px;
  margin: 30px 82px 0 157px;

  @media screen and (max-width: 1280px){
    margin: 30px 50px 0 50px;
    max-width: 360px;
  }

  @media screen and (max-width: 425px){
    margin: 20px;
    max-width: 260px;
  }
}