.samples__title{
  margin: 0;
  max-width: 1103px;
  font-weight: 600;
  font-size: 60px;
  line-height: 68px;

  color: #111111;

  @media screen and (max-width: 1280px){
    margin: 0 auto;
    max-width: 648px;
    font-size: 33px;
    line-height: 37px;
  }
}