.samples__title{
  margin: 0 auto;
  max-width: 1103px;
  font-weight: 600;
  font-size: 60px;
  line-height: 68px;

  color: $dark-title;

  @media screen and (max-width: $size-desktop-sm){
    margin: 0 auto;
    max-width: 648px;
    font-size: 33px;
    line-height: 37px;
  }

  @media screen and (max-width: $size-mobile-xl){
    margin: 23px auto 0;
    max-width: 260px;
    font-size: 26px;
    line-height: 31px;
  }
}