@import "__cards/features__cards";
@import "__card/features__card";
@import "__title/features__title";
@import "__subtitle/features__subtitle";
@import "__text/features__text";

.features{
  width: 100%;
  max-width: 1100px;

  @media screen and (max-width: 1280px){
    max-width: 708px;
    max-height: 284px;
  }
}