.footer{
  margin: 120px auto 0;
  background: $main-dark;
  min-height: 470px;
  width: 100%;
  max-width: 1420px;
  border-radius: 20px;
  display: flex;

  @media screen and (max-width: $size-desktop-sm){
    margin: 70px auto 0;
    min-height: 400px;
    max-width: 748px;
  }

  @media screen and (max-width: $size-mobile-xl){
    margin: 70px auto 0;
    min-height: 266px;
    max-width: 300px;
  }
}