@import "__wrapper/footer__wrapper";
@import "__title/footer__title";
@import "__subtitle/footer__subtitle";
@import "__button/footer__button";
@import "__phone/footer__phone";

.footer{
  margin: 120px 0 0;
  background: #222222;
  min-height: 470px;
  width: 100%;
  max-width: 1420px;
  border-radius: 20px;
  display: flex;

  @media screen and (max-width: 1280px){
    margin: 70px 0 0;
    min-height: 400px;
  }
}