.download__container{
  margin: 120px auto 0;
  background: $card-bg;
  border-radius: 10px;
  padding: 60px;

  @media screen and (max-width: $size-desktop-sm){
    padding: 30px;
    margin: 70px auto 0;
    max-width: 648px;
    min-height: 550px;
  }

  @media screen and (max-width: $size-mobile-xl){
    padding: 20px;
    margin: 70px auto 0;
    max-width: 300px;
  }

}