.footer__subtitle{
  margin: 20px 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.7);

  @media screen and (max-width: 1280px){
    font-size: 18px;
    line-height: 26px;
  }
}