.footer__subtitle{
  margin: 20px 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: $light-subtitle;

  @media screen and (max-width: $size-desktop-sm){
    font-size: 18px;
    line-height: 26px;
  }

  @media screen and (max-width: $size-mobile-xl){
    margin: 15px 0 0;
    font-size: 12px;
    line-height: 15px;
  }
}