.download{
  margin: 95px auto 0;
  max-width: 1100px;

  @media screen and (max-width: $size-desktop-sm){
    margin: 43px auto 0;
    max-width: 648px;
  }

  @media screen and (max-width: $size-mobile-xl){
    margin: 69px auto 0;
    max-width: 300px;
  }
}