@import "__title/download__title";
@import "__container/download__container";
@import "__form/download__form";
@import "__form-title/download__form-title";
@import "__form-subtitle/download__form-subtitle";
@import "__fieldset/download__fieldset";
@import "__label-name/download__label-name";
@import "__input-name/download__input-name";
@import "__label-email/download__label-email";
@import "__input-email/download__input-email";
@import "__label-message/download__label-message";
@import "__input-message/download__input-message";
@import "__button/download__button";

.download{
  margin: 120px 0 0;
  max-width: 1100px;

  @media screen and (max-width: 1280px){
    margin: 70px 0 0;
    max-width: 648px;
  }
}