.footer__title{
  margin: 0;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: $light-title;

  @media screen and (max-width: $size-desktop-sm){
    font-size: 32px;
    line-height: 38px;
  }

  @media screen and (max-width: $size-mobile-xl){
    font-size: 24px;
    line-height: 29px;
  }
}